// memory game mixins
@import "_variables";
@import "_breakpoints";

@mixin body-style {
    background-attachment: fixed;
    background           : $body_background-color;
    color                : #f2f2f2;
    font-family          : 'Work Sans', sans-serif;
    margin               : 0;
    padding              : 0;
    width                : 100%;
}

@mixin header-container {
    border-bottom   : 1px solid #fff;
    background-color: $containers_background-color;
    display         : flex;
    margin          : 0;
    overflow        : auto;
    padding         : 10px 35px 10px 10px;
    width           : 100%;

    @media (min-width: #{$screen-tablet}) {
        height       : 70px;
        padding-right: 60px;
    }
}

@mixin gh-icon {
    height: 30px;
    margin: 0;
    width : 30px;

    @media (min-width: #{$screen-tablet}) {
        height: 45px;
        width : 45px;
    }
}

@mixin project-name {
    display       : inline-block;
    font-family   : 'Oswald', sans-serif;
    font-size     : 25px;
    letter-spacing: 2px;
    line-height   : 10px;
    margin        : 0 auto;
    padding       : 10px;
    text-align    : center;

    @media (min-width: #{$screen-tablet}) {
        font-size     : 35px;
        letter-spacing: 3px;
        margin-top    : 10px;
    }
}

@mixin main-container-style {
    margin-top: 5px;
    overflow  : auto;
    padding   : 10px;
}

@mixin project-description {
    font-family   : 'Oswald', sans-serif;
    font-size     : 18px;
    letter-spacing: 2px;
    margin        : 0;
    padding       : 0;
    text-align    : center;

    @media (min-width: #{$screen-tablet}) {
        font-size     : 25px;
        letter-spacing: 3px;
    }
}

@mixin game-box {
    margin  : 5px 0;
    overflow: auto;
    padding : 2px 0;
    width   : 100%;
}

@mixin end-message {
    display       : inline-block;
    font-size     : 15px;
    font-weight   : bold;
    height        : 20px;
    letter-spacing: 1px;
    line-height   : 20px;
    margin        : 2px 0;
    padding-bottom: 2px;
    text-align    : center;
    text-shadow   : 1px 2px #000;
    width         : 100%;

    @media (min-width: #{$screen-tablet}) {
        font-size  : 25px;
        height     : 40px;
        line-height: 40px;
    }

    @media (min-width: #{$screen-desktop}) {
        font-size  : 20px;
        height     : 25px;
        line-height: 25px;
    }
}

@mixin button-container {
    display   : block;
    height    : 30px;
    margin    : 2px auto;
    padding   : 2px 0;
    position  : relative;
    text-align: center;
    width     : 120px;

    @media (min-width: #{$screen-tablet}) {
        height: 50px;
        width : 170px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 35px;
        width : 150px;
    }
}

@mixin counter {
    display    : inline-block;
    font-size  : 20px;
    font-weight: bold;
    height     : 25px;
    position   : absolute;
    left       : 15px;
    top        : 2px;
    text-align : center;
    width      : 40px;

    @media (min-width: #{$screen-tablet}) {
        font-size: 35px;
        height   : 45px;
        width    : 70px;
    }

    @media (min-width: #{$screen-desktop}) {
        font-size: 25px;
        height   : 30px;
        width    : 50px;
    }
}

@mixin reset-btn {
    cursor  : pointer;
    display : inline-block;
    height  : 27px;
    position: absolute;
    right   : 15px;
    top     : 2px;
    width   : 27px;

    @media (min-width: #{$screen-tablet}) {
        height: 47px;
        width : 47px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 32px;
        width : 32px;
    }
}

@mixin cards-container {
    margin    : 10px auto;
    overflow  : auto;
    padding   : 5px 7px;
    text-align: center;
    width     : 270px;

    @media (min-width: #{$screen-tablet}) {
        width: 550px;
    }

    @media (min-width: #{$screen-desktop}) {
        width: 400px;
    }
}

@mixin game-img-box {
    background-color: #62dac642;
    border          : 3px solid #fff;
    border-radius   : 5px;
    box-shadow      : 1px 1px 5px #000000b6;
    cursor          : pointer;
    display         : inline-block;
    float           : left;
    height          : 60px;
    margin          : 2px;
    padding         : 5px;
    width           : 60px;

    @media (min-width: #{$screen-tablet}) {
        border: 5px solid #fff;
        height: 120px;
        margin: 5px;
        width : 120px;
    }

    @media (min-width: #{$screen-desktop}) {
        border: 3px solid #fff;
        height: 73px;
        margin: 2px;
        width : 73px;
    }
}

@mixin game-img {
    border-radius: 5px;
    display      : none;
    height       : 47px;
    margin       : 0;
    padding      : 0;
    width        : 47px;

    @media (min-width: #{$screen-tablet}) {
        height: 100px;
        width : 100px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 55px;
        width : 55px;
    }
}

@mixin footer {
    background-color: $containers_background-color;
    height          : 15px;
    margin-top      : 10px;
    padding-top     : 5px;
    position        : fixed;
    bottom          : 0;
    text-align      : center;
    width           : 100%;

    @media (min-width: #{$screen-tablet}) {
        height     : 20px;
        padding-top: 8px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 22px;
    }
}

@mixin footer-copyright {
    display       : block;
    font-size     : 8px;
    letter-spacing: 2px;
    line-height   : 5px;
    margin        : auto;

    @media (min-width: #{$screen-tablet}) {
        font-size: 12px;
    }
}